body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

.sidebar {
    width: 250px;
    background-color: skyblue;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.section-title {
    width: 100%;
    text-align: center;
    margin-top: 0;
}

section {
    margin-bottom: 20px;
}

h2, h3 {
    margin-top: 0;
}

.profile-container {
    text-align: center;
}

.profile-photo {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-container p {
    margin-top: 10px;
}

footer {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}
